<h1>
    Random Play:
</h1>

<div class="right">
    <small> (by <%= quiz.author ? quiz.author.username : "Anonymous" %>) </small>
</div>

<div>
    Successful answers = <span id="score"><%= score %></span>
</div>

<form method="get" action="/quizzes/randomcheck/<%= quiz.id %>">

    <p>
        Question: <b><%= quiz.question %></b>
    </p>
    
    <h2>Tips:</h2>
        <ul>
        <% for (let tip of quiz.tips) { %>
    <li>
        <%= tip.text %> 
    </li>
        <% } %>
    </ul>



    <div class="wideRow">
        <input type="text" class="itemWide" id="answer" name="answer" value="" placeholder="Answer" autocomplete="off"/>
        <input type="submit" class="itemNarrow" id="send" value="Check">
    </div>
</form>

